/* Estilos básicos del header */
.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo a {
  font-family: 'Arial', sans-serif; /* Usa la fuente deseada */
  font-size: 24px; /* Ajusta el tamaño según el diseño */
  font-weight: bold; /* Negrita para destacar */
  text-transform: lowercase; /* Todo en minúsculas */
  color: #000; /* Color negro */
  text-decoration: none; /* Sin subrayado */
}


/* Navegación */
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu ul li a {
  font-size: 14px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
}

.nav-menu ul li a.highlight {
  color: #e63946; /* Color destacado para "REBAJAS" */
  font-weight: bold;
}

/* Iconos de interacción */
.header__icon-list {
  display: flex;
  align-items: center;
  gap: 20 px;
}

.header__icon-list span {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.header__icon-list .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke: currentColor;
  fill: none;
}

.header__icon-list .icon svg {
  width: 100%;
  height: 100%;
  display: block;
}


a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.icon svg {
  stroke: currentColor;
  color: #000;
}

