
    <section class="editorial">
        <!-- Bloque Vestidos -->
        <a href="/vestidos.html" class="item item-vestidos">
          <img src="/assets/images/editorial/vestidos.webp" alt="Vestidos">
          <div class="text-overlay">Vestidos</div>
        </a>
      
        <!-- Bloque Sets -->
        <a href="/sets.html" class="item item-sets">
          <img src="/assets/images/editorial/sets.webp" alt="Sets">
          <div class="text-overlay">Sets</div>
        </a>
      
        <!-- Bloque Abrigos -->
        <a href="/abrigos.html" class="item item-abrigos">
          <img src="/assets/images/editorial/abrigos.webp" alt="Abrigos">
          <div class="text-overlay">Abrigos</div>
        </a>
      
        <!-- Bloque Novia -->
        <a href="/novia.html" class="item item-novia">
          <img src="/assets/images/editorial/novia.webp" alt="Novia">
          <div class="text-overlay">Novia</div>
        </a>
      </section>