<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lady Pipa</title>
  <!-- Referencia al archivo CSS -->
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <a href="index.html">lady pipa</a>
      </div>
      

      <!-- Navegación -->
      <nav class="nav-menu">
        <ul>
          <li><a href="#">PRENDAS</a></li>
          <li><a href="#" class="highlight">REBAJAS</a></li>
          <li><a href="#">TIPO DE EVENTO</a></li>
          <li><a href="#">COLECCIONES</a></li>
          <li><a href="#">ACCESORIOS</a></li>
          <li><a href="#">NOSOTRAS</a></li>
          <li><a href="#">TIENDAS</a></li>
        </ul>
      </nav>

      <!-- Iconos -->
      <div class="header__icon-list">
        <span class="bold text-sm">PEN S/.</span>
        <span class="bold text-sm">ES</span>
        <a href="/search" class="icon">
          <svg width="22" height="22" class="icon icon-search" viewBox="0 0 22 22" fill="none" stroke-width="1.2">
            <circle cx="11" cy="10" r="7" stroke="currentColor"></circle>
            <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round"></path>
          </svg>
        </a>
        <a href="/account" class="icon">
          <svg width="22" height="22" class="icon icon-account" viewBox="0 0 22 22" fill="none" stroke-width="1.2">
            <circle cx="11" cy="7" r="4" stroke="currentColor"></circle>
            <path d="M3.5 19c1.421-2.974 4.247-5 7.5-5s6.079 2.026 7.5 5" stroke="currentColor" stroke-linecap="round"></path>
          </svg>
        </a>
        <a href="/wishlist" class="icon">
          <svg width="22" height="22" class="icon icon-wishlist" viewBox="0 0 22 22" fill="none" stroke-width="1.2">
            <path d="M18 18L11.5 13L5 18V3H11.5H18V18Z" stroke="currentColor" stroke-linejoin="round"></path>
          </svg>
        </a>
        <a href="/cart" class="icon">
          <svg width="22" height="22" class="icon icon-cart" viewBox="0 0 22 22" fill="none" stroke-width="1.2">
            <path d="M11 7H3.577A2 2 0 0 0 1.64 9.497l2.051 8A2 2 0 0 0 5.63 19H16.37a2 2 0 0 0 1.937-1.503l2.052-8A2 2 0 0 0 18.422 7H11Zm0 0V1" stroke="currentColor" stroke-linecap="round"></path>
          </svg>
        </a>
      </div>
      
    </div>
  </header>
</body>
</html>